img {
  width: 112px;
  height: 112px;
  background-color: #e3eaf3;
}

div.ie-container {
  display: inline-block;
  position: relative;
  user-select: none;
}

.POO {
  display: block;
  content: '';
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  transition: all 250ms ease;
  opacity: 0;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
div.ie-container:hover .POO {
  opacity: 0.4;
}

div.ie-container.active .POO {
  opacity: 1;
}

.check-icon {
  fill: rgba(64, 113, 176, 1);
  /* fill: #5596e6; */
  fill: #1470df;
  /* fill: #247df0; */

  width: 24px;
  height: 24px;
  margin: 1px;
}

div.ie-container:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(136, 151, 161, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);

  transition: all 250ms cubic-bezier(0.5, 0, 0.1, 1);
}

div.ie-container:hover:before {
  border: 1px solid #8897a1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

div.ie-container:active:before {
  border: 1px solid rgba(136, 151, 161, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

div.ie-container.active:hover:before {
  border: 1px solid rgba(136, 151, 161, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

div.ie-container.active {
  /* border: 12px solid #8897a1; */
  width: 112px;
  height: 112px;
}

div.ie-container.active:hover img {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

div.ie-container.active img {
  border: 1px solid #4071b0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 80px;
  margin: 16px;
}

img {
  vertical-align: middle;
}

input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.App-Parent {
  position: fixed;
  top: 153px; /* This should probably be 150px */
  left: 209px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.App-TopBar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #162934;
  display: flex;
  align-items: center;
}

.App-TopBar-Title {
  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

  margin-left: 25px;

  font-size: 16px;
  color: rgb(242, 244, 248);
  font-weight: 600;
}

.App-TopBar-BreadCrumb {
  font-family: ibm-plex-mono, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
  align-items: center;

  /* margin: 0px 25px; */

  font-size: 16px;
  color: rgba(242, 244, 248, 0.6);
}

.App-TopBar-ServiceID {
  color: #5aaafa;
  text-decoration: none;
}

.App-TopBar-ServiceID:hover {
  color: #7fbfff;
  text-decoration: underline;
}

.App-MidBar {
  position: fixed;
  z-index: 1; /* so the shadow shows */
  top: 50px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #f5f7fa;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: stretch;

  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

  font-size: 14px;
  font-weight: 500;
}

.App-MidBar-Projects {
  display: flex;
  align-items: center;
  padding: 0 25px 0 20px;
  border-right: 1px solid #dfe3e6;
}

.App-MidBar-AddImages {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin-left: auto;
}

.App-MidBar-ProjectID {
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: #5a6872;
}

.icon {
  fill: #4e7cb6;
  margin-right: 8px;
}

.icon-arrow {
  fill: #4e7cb6;
  margin-right: 12px;
}

.icon-thin-add {
  fill: #3d70b2;
}

.App-MidBar-Button {
  color: #4e7cb6;
}

.App-MidBar-Button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.App-LowBar {
  position: fixed;
  top: 100px;
  left: 0px;
  right: 0px;
  height: 53px; /* This should probably be 50px */
  background-color: #ffffff;
  border-bottom: 1px solid #dfe3e6;
}

.App-Sidebar {
  position: fixed;
  border-right: 1px solid #dfe3e6;
  width: 209px;
  top: 153px; /* This should probably be 150px */
  bottom: 0px;
  left: 0px;
  background-color: #ffffff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.App-Sidebar-Fixed-Items {
  border-bottom: 1px solid #dfe3e6;
  padding: 8px 0 2px 0;
  margin-bottom: 8px;
}

.App-Sidebar-Item, .App-Sidebar-Item--Active {
  display: flex;

  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #152935;
  padding: 9px 20px;

  line-height: 23px;

  border-left: 4px solid transparent;
}

.App-Sidebar-Item--Active {
  color: #3d70b2;
  font-weight: 700;
  border-left: 4px solid #3d70b2;
}

.App-Sidebar-Item:hover {
  color: #3d70b2;
}

.App-Sidebar-Item-Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}

.App-Sidebar-Item-Count {
  margin-left: auto;
}

.App-Sidebar-Add-Label-Button {
  padding: 9px 0;
  margin: 16px 10px 8px 10px;

  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

  color: #3d70b2;
  font-size: 14px;
  font-weight: 600;

  text-align: center;
  border: 2px solid #3d70b2;
}

.App-Sidebar-Add-Label-Button:hover {
  background-color: #3d70b2;
  color: #ffffff;
}

.App-Sidebar-Field-Wrapper {
  position: relative;
  margin: 16px 0 8px 0;
  width: auto;
}

.App-Sidebar-Add-Label-Field {
  outline: none;
  border: none;
  padding: 14px 43px 4px 25px;
  width: 100%;
  border-top: 1px solid #dfe3e6;

  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

  font-size: 14px;
  font-weight: 500;
}

/* .App-Sidebar-Add-Label-Field {
  outline: none;
  border: none;
  padding: 1px 30px 7px 5px;
  width: 100%;
  border-bottom: 2px solid #dfe3e6;

  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

  font-size: 14px;
  font-weight: 500;
} */

.App-Sidebar-Add-Label-Field-Icon {
  position: absolute;
  right: 0px;
  top: 0px;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
}

.App-Sidebar-Add-Label-Field::placeholder {
  font-style: italic;
}

.App-ImageGrid {
  margin: 25px 50px 0 50px;
  grid-template-columns: repeat(auto-fill, 112px);
  grid-template-rows: repeat(auto-fill, 112px);
  grid-gap: 4px;
  display: grid;
  align-content: start;
  justify-content: center;
}

.App-ImageGrid-Gap {
  margin: 80px;
}

.App-Section-Title {
  display: grid;
  align-content: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 112px);
  grid-auto-columns: auto;
  grid-gap: 4px;
  margin: 36px 50px 0 50px;

  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

  font-size: 16px;
  color: #152935;
  font-weight: 600;
}

.App-Section-Span {
  grid-column: 1 / auto-fill;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.App-LowBar-Grid {
  position: absolute;
  left: 209px;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  align-content: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 112px);
  grid-auto-columns: auto;
  grid-gap: 4px;
  margin: 0 50px;
}

.App-LowBar-Tabs {
  grid-column: 1 / auto-fill;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -20px; /* to combat the padding */
  right: -20px; /* to combat the padding */
}

.App-LowBar-Tab {
  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
  font-size: 14px;
  color: #152935;
  font-weight: 500;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
}

.App-LowBar-Tab--Active {
  color: #4071b0;
  border-bottom: 2px solid #4071b0;
}
