.App-Parent {
  position: fixed;
  top: 100px;
  left: 209px;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 250ms ease;
}

.App-Parent.--Active {
  top: 150px;
  transition: all 250ms ease;
}

.App-DropZone {
  position: fixed;
  top: 100px;
  left: 209px;
  right: 0px;
  bottom: 0px;
}

.App-DropTarget {
  position: fixed;
  top: 100px;
  left: 209px;
  z-index: 1000;
  right: 0px;
  bottom: 0px;
  padding: 12px;
  color: #5a6872;
  visibility: hidden;
  background: radial-gradient(
    ellipse at center,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0.85) 65%,
    hsla(0, 0%, 100%, 0.85) 100%
  );
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
}

.App-DropTarget.--Active {
  visibility: visible;
  opacity: 1;
}

.App-DropTarget-outline {
  border: 6px #8d9ba5 dashed;
  background-color: rgba(141, 155, 165, 0.15);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-DropTarget-text {
  font-size: 24px;
  font-weight: 600;
}
