input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.App-Parent {
  position: fixed;
  top: 150px;
  left: 209px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 250ms ease;
}

.App-TopBar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #162934;
  display: flex;
  align-items: center;
}

.App-TopBar-Title {
  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

  margin-left: 25px;

  font-size: 16px;
  color: rgb(242, 244, 248);
  font-weight: 600;
}

.App-TopBar-BreadCrumb {
  font-family: ibm-plex-mono, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
  align-items: center;

  /* margin: 0px 25px; */

  font-size: 16px;
  color: rgba(242, 244, 248, 0.6);
}

.App-TopBar-ServiceID {
  color: #5aaafa;
  text-decoration: none;
}

.App-TopBar-ServiceID:hover {
  color: #7fbfff;
  text-decoration: underline;
}

.App-MidBar {
  position: fixed;
  z-index: 1; /* so the shadow shows */
  top: 50px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #f5f7fa;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: stretch;

  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

  font-size: 14px;
  font-weight: 500;
}

.App-MidBar-Projects {
  display: flex;
  align-items: center;
  padding: 0 25px 0 20px;
  border-right: 1px solid #dfe3e6;
}

.App-MidBar-AddImages {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin-left: auto;
}

.App-MidBar-ProjectID {
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: #5a6872;
}

.icon {
  fill: #4e7cb6;
  margin-right: 8px;
}

.icon-arrow {
  fill: #4e7cb6;
  margin-right: 12px;
}

.App-MidBar-Button {
  color: #4e7cb6;
}

.App-MidBar-Button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.App-LowBar {
  position: fixed;
  top: 100px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfe3e6;
}

.App-SelectionBar {
  position: fixed;
  top: 150px;
  left: 209px;
  right: 0px;
  height: 50px;
  background-color: #4071b0;
  align-items: center;
  display: none;

  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.App-Parent--Active {
  top: 200px;
  transition: all 250ms ease;
}

.App-SelectionBar--Active {
  display: flex;
}

.App-SelectionBar-Count {
  line-height: 20px;
  width: 160px;
  margin-left: 18px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.App-SelectionBar-Close {
  margin-right: 18px;
  display: flex;
}

.close-icon {
  align-self: center;
  height: 30px;
  width: 30px;
  fill: #ffffff;
}

.App-SelectionBar-DropDown {
  margin-left: 24px;
  display: flex;
  margin-right: 41px;
}

.dropdown-icon {
  align-self: center;
  margin-left: 8px;
  fill: #ffffff;
}

.App-SelectionBar-Close {
  margin-left: auto;
}

.App-LowBar-Grid {
  position: absolute;
  left: 209px;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  align-content: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 112px);
  grid-auto-columns: auto;
  grid-gap: 4px;
  margin: 0 50px;
}

.App-LowBar-Tabs {
  grid-column: 1 / auto-fill;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -20px; /* to combat the padding */
  right: -20px; /* to combat the padding */
}

.App-LowBar-Tab {
  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
  font-size: 14px;
  color: #152935;
  font-weight: 500;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
}

.App-LowBar-Tab--Active {
  color: #4071b0;
  border-bottom: 2px solid #4071b0;
}
