.Buckets-Parent {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.Buckets-Link {
  text-decoration: none;
  display: block;
}

.Buckets-Table {
  margin: 40px 5%;
}

.bx--data-table-v2 th:hover .bx--table-sort-v2__icon {
    opacity: 0.5;
}

.bx--table-sort-v2--active .bx--table-sort-v2__icon {
    opacity: 1 !important;
}
