.BucketBar {
  position: fixed;
  z-index: -1; /* so the shadow shows */
  top: 50px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #f5f7fa;
  /* background-color: #ffffff; */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: stretch;

  font-family: ibm-plex-sans, 'Helvetica Neue for IBM', 'Helvetica Neue',
    Helvetica, Arial, Roboto, sans-serif;

  font-size: 14px;
  font-weight: 500;
}

.BucketBar-buckets-Wrapper {
  display: flex;
  align-items: center;
  padding: 0 25px 0 20px;
  border-right: 1px solid #dfe3e6;
}

.BucketBar-addImages {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin-left: auto;
}

.BucketBar-bucketID {
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: #5a6872;
}

.BucketBar-back-Icon {
  fill: #4e7cb6;
  margin-right: 8px;
}

.BucketBar-addImages-Icon {
  fill: #4e7cb6;
  margin-right: 12px;
}

.BucketBar-Button {
  color: #4e7cb6;
  text-decoration: none;
}

.BucketBar-Button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.BucketBar input[type='file'] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.BucketBar-save {
  opacity: 0.5;
  margin-left: 18px;
}
