.bx--modal-container {
  width: 100%;
}

.bx--data-table-v2 th:hover .bx--table-sort-v2__icon {
  opacity: 0.5;
}

.bx--table-sort-v2--active .bx--table-sort-v2__icon {
  opacity: 1 !important;
}

/* Table */

.bx--data-table-v2 tbody {
  background-color: var(--secondaryBg);
}

.bx--data-table-v2 th:last-of-type,
.bx--data-table-v2 td:last-of-type {
  border-right: 1px solid var(--border);
}

.bx--data-table-v2 th,
.bx--data-table-v2 td {
  border-top: 1px solid var(--highlight);
}

.bx--data-table-v2 th:first-of-type,
.bx--data-table-v2 td:first-of-type {
  border-left: 1px solid var(--border);
}

.bx--data-table-v2 th,
.bx--data-table-v2 td {
  color: var(--secondaryText);
}

.bx--data-table-v2 {
  border-bottom: 1px solid var(--border);
}

.bx--data-table-v2 thead th {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--appBarShadow);
}

/* Table hover item */
.bx--data-table-v2 tr:hover td {
  color: var(--brightText);
  background-color: var(--highlight);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.bx--data-table-v2 tr:last-of-type:hover td {
  border-bottom: 1px solid var(--border);
}

.bx--data-table-v2 tr:hover td:first-of-type {
  border-left: 1px solid var(--border);
}

.bx--data-table-v2 tr:hover td:last-of-type {
  border-right: 1px solid var(--border);
}

.bx--data-table-v2 thead {
  background-color: var(--appBar);
}

.bx--table-sort-v2 {
  color: var(--brightText);
}
