.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  cursor: none;
}

.hair {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -1px;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  pointer-events: none;
  z-index: 2;
}

.hairH {
  mix-blend-mode: difference;
  composes: hair;
  left: 0;
  right: 0;
}

.hairV {
  mix-blend-mode: difference;
  composes: hair;
  top: 0;
  bottom: 0;
}

.hairDot {
  visibility: hidden;
  position: absolute;
  background: #000000;
  margin-left: -1px;
  margin-top: -2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 1px;
  border-radius: 1.5px;
  box-sizing: content-box;
  background-clip: padding-box;
  pointer-events: none;
}

.hairCenterH {
  visibility: hidden;
  position: absolute;
  background: #000000;
  margin-top: -2px;
  margin-left: -1px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 5px;
  height: 1px;
  border-radius: 1.5px;
  box-sizing: content-box;
  background-clip: padding-box;
  pointer-events: none;
}

.hairCenterV {
  visibility: hidden;
  position: absolute;
  background: #000000;
  margin-top: -2px;
  margin-left: -1px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 5px;
  border-radius: 1.5px;
  box-sizing: content-box;
  background-clip: padding-box;
  pointer-events: none;
}
