.container {
  display: inline-block;
  position: relative;
  user-select: none; /* stops images from turning blue */
}

/**
 * Stops images from being draggable.
 */
.container:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.selected {
  composes: container;
}

.image {
  width: 112px;
  height: 112px;
  background-color: #e3eaf3;
  vertical-align: middle;
  border: 1px solid rgba(136, 151, 161, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  transition: border box-shadow 250ms cubic-bezier(0.5, 0, 0.1, 1);
}

.container:hover .image {
  border: 1px solid #8897a1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.selected .image,
.selected:hover .image {
  border: 1px solid #4071b0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 80px;
  margin: 16px;
}

.iconWrapper {
  content: '';
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  opacity: 0;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  transition: all 250ms ease;
}

.container:hover .iconWrapper {
  opacity: 0.4;
}

.selected .iconWrapper,
.selected:hover .iconWrapper {
  opacity: 1;
  transition: none;
}

.icon {
  fill: #1470df;
  width: 24px;
  height: 24px;
  margin: 1px;
}
