.ImageGrid {
  margin: 25px 50px 0 50px;
  grid-template-columns: repeat(auto-fill, 112px);
  grid-template-rows: repeat(auto-fill, 112px);
  grid-gap: 4px;
  display: grid;
  align-content: start;
  justify-content: center;
}

.ImageGrid-Gap {
  margin: 80px;
}

.ImageGrid-Section-Title {
  display: grid;
  align-content: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 112px);
  grid-auto-columns: auto;
  grid-gap: 4px;
  margin: 36px 50px 0 50px;

  font-family: ibm-plex-sans, "Helvetica Neue for IBM", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

  font-size: 16px;
  color: #152935;
  font-weight: 600;
}

.ImageGrid-Section-Span {
  grid-column: 1 / auto-fill;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
