.deleteImageWrapper {
  position: absolute;
  user-select: none;
  cursor: pointer;
  border-top: 1px solid #dfe3e6;
  border-left: 1px solid #dfe3e6;
  width: 209px;
  height: 40px;
  bottom: 117px;
  right: 0;

  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;

  font-family: ibm-plex-sans, 'Helvetica Neue for IBM', 'Helvetica Neue',
    Helvetica, Arial, Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #e0182d;
}

.roomHolder {
  margin: 14px;
  display: flex;
}

.chatHead {
  margin-left: auto;
  height: 32px;
  width: 32px;
  border: 2px solid rgb(244, 247, 251);
  border-radius: 50%;
  background-color: #4e7cb6;
}

.chatHeadOverflow {
  composes: chatHead;
  background-color: rgb(228, 234, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  color: #152935;
  font-weight: 500;
}

.chatHead + .chatHead {
  margin-left: -8px;
}

.chatHeadIcon {
  fill: white;
  margin: 4px;
  width: 20px;
  height: 20px;
}

.deleteImageWrapper:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.deleteSVG {
  fill: #e0182d;
  margin-left: 12px;
}
