.Login-Parent {
  position: fixed;
  top: 116px;
  left: 0px;
  right: 0px;
  bottom: 76px;
  z-index: -1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(223, 227, 230);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Login-TopBar {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  height: 66px;
  border-bottom: 1px solid rgb(223, 227, 230);
  display: flex;
}

.Login-TopBar-title {
  margin: 0 30px;
  color: #152935;
  font-size: 22px;
  font-weight: 400;
  align-self: center;
  padding: 10px 0; /* helps with clipping of g */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Login-BottomBar {
  position: fixed;
  left: 0px;
  right: 0px;
  height: 76px;
  bottom: 0px;
  display: flex;
  align-items: center;
}

.Login-Button {
  border: 2px solid #3d70b2;
  color: #3d70b2;
  margin: 0 100px 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.68;
  padding: 5px 15px;
}

.Login-Button.--Dissabled {
  border: 2px solid rgb(223, 227, 230);
  color: rgb(223, 227, 230);
  pointer-events: none;
}

.Login-Button:hover {
  background-color: #3d70b2;
  color: #ffffff;
}

.Login-FormWrapper {
  margin: 66px 0;
  width: 500px;
  max-width: 90%;
}

.Login-FormItem {
  color: rgb(21, 41, 53);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.68;
  margin-bottom: 32px;
}

.Login-FormItem-Label {
  font-size: 16px;
  font-weight: 600;
}

.Login-FormItem-Input {
  border: none;
  border-bottom: 2px solid #8c9ba5;
  color: rgb(21, 41, 53);
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 25px 0px;
  padding: 7px 25px 7px 0px;
  display: block;
  width: 100%;
}

.Login-FormItem-Select {
  width: 100%;
  margin-top: 8px;
}

.Login-FormItem-Input:focus {
  outline: none;
  border-bottom: 2px solid #152935;
}
