.topBar {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  height: 66px;
  background-color: var(--secondaryBg);
  border-bottom: 1px solid var(--border);
  display: flex;
}

.title {
  margin: 0 30px;
  color: var(--brightText);
  font-size: 22px;
  font-weight: 400;
  align-self: center;
  padding: 10px 0; /* helps with clipping of g */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  position: fixed;
  top: 116px;
  left: 0px;
  right: 0px;
  bottom: 76px;
  z-index: -1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  margin: 66px 0;
  width: 500px;
  max-width: 90%;
}

.formItem {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.68;
  margin-bottom: 32px;
}

.label {
  color: var(--secondaryText);
  display: inline-block;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
}

.inputWrapper {
  position: relative;
  height: 40px;
}

.input {
  margin: 0px;
  padding: 0 16px;
  height: 40px;
  animation-name: autofill;
  animation-fill-mode: both;
}

.errorInput {
  composes: input;
  padding: 0 40px 0 16px;
}

.input::placeholder {
  color: var(--detailText);
}

.input:focus {
  animation-name: autofillFocus;
  animation-fill-mode: both;
}

/* autofill hack */
@keyframes autofillFocus {
  to {
    outline: none;
    background-color: var(--textInput);
    color: var(--brightText);
    box-shadow: 0 0 0 2px var(--blue);
    font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;
  }
}

@keyframes autofill {
  to {
    background-color: var(--textInput);
    box-shadow: 0 1px 0 0 var(--textInputUnderline);
    color: var(--brightText);
    font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;
  }
}

.errorIcon {
  position: absolute;
  top: 0;
  height: 40px;
  right: 16px;
  fill: var(--error);
}

.select {
  width: 100%;
  height: 40px;
}

.bottomBar {
  position: fixed;
  left: 0px;
  right: 0px;
  height: 76px;
  bottom: 0px;
  display: flex;
  align-items: center;
  background-color: var(--secondaryBg);
}

.buttonBase {
  cursor: pointer;
  user-select: none;
  margin: 0 100px 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.68;
  padding: 5px 15px;
}

.button {
  composes: buttonBase;
  background-color: var(--blue);
  border: 2px solid transparent;
  color: #fff;
}

.buttonDissabled {
  composes: buttonBase;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.button:hover {
  background-color: var(--blue-hover);
}
