.bar {
  z-index: 2;
  position: fixed;
  top: 65px;
  left: 210px;
  right: 0;
  height: 48px;
  background-color: var(--selectionBar);
  align-items: stretch;
  display: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--brightText);
  border-bottom: 1px solid var(--selectionBarBorder);
}

.barActive {
  composes: bar;
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.selectionCountWrapper {
  composes: item;
  padding-right: 0;
}

.selectionCount {
  width: 160px;
  /* margin-left: 18px; */
  border-right: 1px solid var(--disabledText);
}

.button {
  composes: item;
  cursor: pointer;
}

.button:hover {
  background-color: var(--selectionBarHover);
}

.lastButton {
  composes: button;
  margin-left: auto;
  padding: 0;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dismissIcon {
  fill: var(--brightText);
}
