.wrapper {
  position: absolute;
  border-right: 1px solid var(--border);
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--secondaryBg);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.fixedItems {
  cursor: pointer;
  /* border-bottom: 1px solid var(--highlight); */
  padding: 8px 0 16px 0;
  /* margin-bottom: 8px; */
  position: relative;
}

.dynamicItems {
  cursor: pointer;
  border-top: 1px solid var(--highlight);
  padding: 8px 0 16px 0;
  margin-top: 8px;
}

.itemBase {
  cursor: pointer;
  display: flex;

  font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--brightText);
  padding: 9px 20px;

  line-height: 23px;

  border-left: 4px solid transparent;
  position: relative;
}

.itemBase:hover {
  background-color: var(--highlight);
}

.item {
  composes: itemBase;
}

.itemActive {
  composes: itemBase;
  background-color: var(--highlight);
  font-weight: 700;
  border-left: 4px solid var(--blue);
}

.itemTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}

.itemCount {
  margin-left: auto;
}

.overflow {
  fill: var(--detailText);
  visibility: collapse;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflow:hover {
  /* opacity: 1; */
  fill: var(--brightText);
}

.itemBase:hover .overflow {
  visibility: visible;
  width: 20px;
}

.addLabelButtonBase {
  height: 48px;
  /* padding: 9px 0; */
  padding: 0 18px 0 18px;
  /* margin: 16px 0px 8px 0px; */

  font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;

  color: #ffffff;
  background-color: var(--blue);

  display: flex;
  align-items: center;
  font-size: 14px;
  /* border: 2px solid var(--blue); */
}

.addLabelButtonBase:hover {
  background-color: var(--blue-hover);
}

.addLabelButton {
  composes: addLabelButtonBase;
}

.addLabelButtonHidden {
  composes: addLabelButtonBase;
  visibility: hidden;
  display: none;
}

.addLabelFieldWrapper {
  position: relative;
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
}

.addLabelField {
  outline: none;
  border: none;
  margin: 0; /* Safari layout fix */
  padding: 14px 43px 14px 25px;
  width: 100%;
  border-top: 1px solid #dfe3e6;

  height: 48px;

  font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;

  font-size: 14px;
  font-weight: 500;
}

.addLabelField::placeholder {
  font-style: italic;
}

.thinAddIconWrapper {
  position: absolute;
  right: 0px;
  top: 0px;

  padding: 16px 15px 0px 15px;
}

.thinAddIcon {
  fill: var(--blue);
}

/*  */
.labelDropDownBase {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--secondaryText);
  /* font-size: 12px;
  font-weight: 500; */
  /* padding: 3.5px 6px 3.5px 8px; */

  /* width: 160px; */
  cursor: pointer;

  height: 48px;
  font-weight: 400;
  font-size: 16px;
}

.dropButtonText {
  font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  /* width: 122px; */
  padding: 0 18px 0 18px;
}

.labelDropDown {
  composes: labelDropDownBase;
  background-color: var(--blue);
}

.labelDropDown:hover {
  background-color: var(--blue-hover);
}

.labelDropDownOpen {
  composes: labelDropDownBase;
}

.editTextBase {
  font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--brightText);
  height: 48px;
  width: 100%;
  /* width: 122px; */
  padding: 0 48px 0 18px;
  border: none;
  outline: none;
  margin-right: auto;
}

.editTextWrapper {
  composes: editTextBase;
  background-color: transparent;
}

.labelDropDownOpen .editTextWrapper {
  background-color: var(--textInput);
  outline: 2px solid var(--blue);
  outline-offset: -2px;
  /* box-shadow: 0 0 0 2px var(--blue); */
}

.editTextButton {
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editTextButton:hover {
  background-color: var(--selectionBarHover);
}

.editTextIcon {
  height: 12px;
  width: 12px;
}
