.floatingButton {
  position: relative;
}

.floatingButton button {
  position: relative;
  background: rgba(25, 26, 27, 0.9);
  border: none;
  border-radius: 0.4rem;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  padding: 0.4rem 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    bottom 0.2s ease-in-out;
  position: absolute;
  top: calc(1rem / 2);
  right: calc(1rem / 2);
}

.floatingButton:hover button {
  visibility: visible;
  opacity: 1;
}
