.base {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  min-width: 202px;
  max-width: 258px;
  display: flex;
  align-items: center;
  padding-right: 16px;
  margin: 0 4px;
  outline: none;
  border: 1px solid transparent;
}

.open {
  composes: base;
}

.closed {
  composes: base;
}

.closed:hover {
  background-color: var(--highlight);
}

.active {
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chevronIcon {
  height: 6px;
  margin-left: auto;
  fill: var(--detailText);
}

.droplist {
  z-index: 10;
  position: absolute;
  background-color: var(--secondaryBg);
  top: -1px;
  left: -1px;
  max-height: 80vh;
  min-width: calc(100% + 2px);
  max-width: 258px;
  border-radius: 4px;
  overflow: scroll;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.23), 0 4px 8px 3px rgba(0, 0, 0, 0.11);
  border: 1px solid var(--dropDownBorder);
}

.dropItem {
  font-size: 14px;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropItem:hover {
  background-color: var(--highlight);
}

.profileBase {
  position: relative;
  border-radius: 50%;
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px 0 4px;
  outline: none;
  border: 1px solid transparent;
}

.profileOpen {
  composes: profileBase;
}

.profileClosed {
  composes: profileBase;
}

.profileClosed:hover {
  background-color: var(--highlight);
}

.profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 -1px 0 0 #fff, 1px 0 0 0 #fff, -1px 0 0 0 #fff, 0 1px 0 0 #fff;
}

.profileCard {
  composes: droplist;
  top: -2px;
  left: -1000px; /* This is a hack to keep the text breaking properly. */
  transform: translateX(calc(1000px - 100% + 46px));
  font-size: 20px;
  font-weight: 400;
  padding: 7.2px;
  display: flex;
  flex-direction: column;
}

.detailWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.profile2 {
  align-self: flex-start;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 -1px 0 0 #fff, 1px 0 0 0 #fff, -1px 0 0 0 #fff, 0 1px 0 0 #fff;
}

.name {
  margin-left: 8px;
  margin-right: 16px;
}

.userId {
  font-size: 14px;
  margin: 0 8px;
  color: var(--secondaryText);
  margin-bottom: 32px;
}

.logout {
  width: 100%;
  background-color: var(--blue);
  height: 48px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout:hover {
  background-color: var(--blue-hover);
}
