.base {
  width: 430px;
  height: 430px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  user-select: none;
}

.circle {
  background: var(--secondaryBg);
  /* border: 4px solid var(--listDivider); */
  border-radius: 50%;
  width: 350px;
  height: 350px;
  position: absolute;
  left: 40px;
  top: 65px;
}

.image {
  background: no-repeat var(--images);
  background-size: 200px 125px;
  width: 100px;
  height: 125px;
  position: absolute;
  top: 150px;
}

.image1 {
  composes: image;
  background-position: -100px 0px;
  left: calc(160px);
  transform: rotate(20deg);
}

.image2 {
  composes: image;
  background-position: 0px 0px;
  left: calc(165px);
}

.textContainer {
  bottom: 70px;
  color: var(--detailText);
  height: 54px;
  margin-bottom: 0px;
  margin-top: 0px;
  position: absolute;
  width: 430px;
}

.text {
  margin-bottom: 8px;
  text-align: center;
}

.largeText {
  composes: text;
  color: var(--secondaryText);
  font-size: 18px;
}

.smallText {
  composes: text;
  color: var(--detailText);
  font-size: 14px;
}
