.wrapper {
  position: fixed;
  /* top: 64px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 64px;
  /* z-index: -1; */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.titleBar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  /* box-shadow: 0 20px 20px 0 var(--bg); */
  box-shadow: 0 1px 0px 0 var(--appBarShadow);
  background-color: var(--bg);
  background-color: var(--appBar);
}

.titlePrefix {
  font-weight: 400;
}

.title {
  margin-left: 32px;
  /* margin-right: auto; */
  margin-right: 32px;
  font-size: 16px;
  font-weight: 600;
}

.breadCrumb {
  color: var(--detailText);
  font-weight: 400;
  margin: 0 8px 0 8px;
}

.listItemBase {
  /* height: 48px; */
  color: var(--secondaryText);
  border-top: 1px solid var(--highlight);
  display: flex;
  /* align-items: center; */
  border-left: 4px solid transparent;
  line-height: 1.333;
  flex-direction: column;

  padding: 16px 0;
}

.clippedText {
  color: var(--brightText);
  font-size: 14px;
  font-weight: 500;

  line-height: 1.333;

  margin-left: 8px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clippedText2 {
  color: var(--detailText);
  font-size: 14px;
  font-weight: 400;

  line-height: 1.333;

  margin-left: 8px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.boop {
  display: flex;
  align-items: center;
}

.listItem {
  composes: listItemBase;
}

.listItemActive {
  composes: listItemBase;
  background-color: var(--highlight);
  border-left: 4px solid var(--blue);
}

.listItemTextBase {
  padding: 0 20px;
  /* font-size: 14px;
  font-weight: 600;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.listItemSuccess {
  composes: listItemTextBase;
  color: var(--success);
}

.listItemError {
  composes: listItemTextBase;
  color: var(--failed);
}

.listItemCanceled {
  composes: listItemTextBase;
  color: var(--canceled);
}

.listItemTraining {
  composes: listItemTextBase;
  color: var(--training);
}

.listItem:hover {
  background-color: var(--highlight);
}

.linkOverride {
  color: var(--brightText);
  text-decoration: none;
}

.noBuckets {
  background: var(--secondaryBg);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.noBucketsTitle {
  font-size: 18px;
  color: var(--secondaryText);
  margin-bottom: 4px;
}

.noBucketsSub {
  font-size: 14px;
  color: var(--detailText);
  margin-bottom: 8px;
  max-width: 560px;
  text-align: center;
  line-height: 1.2;
}

.noObjectStorage {
  margin: 60px 5%;
  background: var(--secondaryBg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.getStartedLink,
.getStartedLink:visited {
  /* color: var(--blue); */
  text-decoration: none;
}

.getStartedLink:hover {
  box-shadow: 0 1px var(--blue);
}

.getStartedLink:active {
  color: var(--brightText);
}

.getStartedLink:focus {
  color: var(--brightText);
  box-shadow: 0 3px var(--brightText);
}

.createBucket {
  background-color: var(--blue);
  /* border: 2px solid transparent; */
  height: 100%;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 0 18px;
  min-width: 220px;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.createBucket:hover {
  background-color: var(--blue-hover);
}

.createBucket:active {
  box-shadow: inset 0 0 0 2px #fff;
  transition: all 0.2s cubic-bezier(0.2, 0.2, 0.38, 0.9);
}

.createBucketText {
  padding-right: 12px;
}

.link,
.link:visited {
  color: var(--brightText);
  text-decoration: none;
  margin: 0 14px;
}

.link:hover {
  box-shadow: 0 1px var(--blue);
}

.link:active {
  color: var(--brightText);
}

.link:focus {
  color: var(--brightText);
  box-shadow: 0 3px var(--brightText);
}

.activeLink {
  composes: link;
  box-shadow: 0 1px var(--blue);
}

.mainLinks {
  overflow: hidden;
  line-height: 24px;
  height: 64px;
  margin-right: auto;
  width: auto;
  display: flex;
  align-items: center;
}
