.grid {
  margin: 25px 50px 0 50px;
  grid-template-columns: repeat(auto-fill, 112px);
  grid-template-rows: repeat(auto-fill, 112px);
  grid-gap: 4px;
  display: grid;
  align-content: start;
  justify-content: center;
}

.gap {
  margin: 80px;
}

.sectionTitle {
  display: grid;
  align-content: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 112px);
  grid-auto-columns: auto;
  grid-gap: 4px;
  margin: 36px 50px 0 50px;

  font-family: ibm-plex-sans, 'Helvetica Neue for IBM', 'Helvetica Neue',
    Helvetica, Arial, Roboto, sans-serif;

  font-size: 16px;
  color: var(--brightText);
  font-weight: 600;
  line-height: normal;
}

.sectionSpan {
  grid-column: 1 / auto-fill;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
