.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--appBar);
}

.toggle {
  margin-left: auto;
  margin-right: 20px;
}
