.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--secondaryBg);
}

.listItemBase {
  display: flex;
  align-items: center;
  margin: 3px 0;
  height: 44px;
  width: 100%;
  border-left: 2px solid transparent;
}

.listItemWrapper {
  composes: listItemBase;
}

.listItemWrapper:hover {
  background-color: var(--highlight);
  border-left: 2px solid var(--blue);
}

.editing {
  composes: listItemBase;
  background-color: #343c3f;
}

.editTextBase {
  font-size: var(--font-size-14);
  color: var(--brightText);
  height: 19px;
  width: 160px;
  padding-left: 4px;
  border: none;
  outline: none;
}

.editTextWrapper {
  composes: editTextBase;
  background-color: transparent;
}

.editing .editTextWrapper {
  background-color: #21282a;
}

.thumbnailWrapper {
  display: flex;
  margin: 0 14px 0 22px;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: var(--highlight);
  border-radius: 4px;
}

.listItemWrapper:hover .icon {
  visibility: visible;
}

.icon {
  visibility: hidden;
  fill: rgba(255, 255, 255, 0.53);
}

.icon:hover {
  fill: rgba(255, 255, 255, 1);
}

.editIcon {
  composes: icon;
  margin-left: auto;
  margin-right: 5px;
}

.deleteIcon {
  composes: icon;
  margin-left: 5px;
  margin-right: 17px;
}
