.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--secondaryBg);
  overflow: auto;
  border-top: 1px solid var(--toolBarSpacer);
}

.buttonBase {
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  padding: 0 18px;
  min-width: 220px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/* Primary */
.buttonPrimary {
  composes: buttonBase;
  background-color: var(--blue);
  color: #fff;
}

.buttonPrimary:hover {
  background-color: var(--blue-hover);
}

.buttonPrimary:active {
  box-shadow: inset 0 0 0 2px #fff;
  transition: all 0.2s cubic-bezier(0.2, 0.2, 0.38, 0.9);
}

/* Secondary */
.buttonSecondary {
  composes: buttonBase;
  background-color: var(--secondaryButton);
  color: #fff;
}

.buttonSecondary:hover {
  background-color: var(--secondaryButtonHover);
}

.buttonSecondary:active {
  box-shadow: inset 0 0 0 2px #fff;
  transition: all 0.2s cubic-bezier(0.2, 0.2, 0.38, 0.9);
}

/* Dissabled */
.buttonDissabled {
  composes: buttonBase;
  background-color: var(--dissabledButton);
  color: var(--dissabledButtonText);
  cursor: default;
}

.buttonText {
  padding-right: 12px;
}

.buttonIcon {
  height: 18px;
  width: 18px;
  fill: #ffffff;
  margin-left: auto;
}

.buttonAutoLabel {
  composes: buttonPrimary;
  margin: 8px 16px;
}

.buttonNoModel {
  composes: buttonDissabled;
  margin: 8px 16px;
  cursor: default;
}

.buttonNoModel .buttonIcon {
  fill: var(--dissabledButtonText);
}

.buttonLoading {
  composes: buttonDissabled;
  margin: 8px 16px;
}

.buttonLabel {
  composes: buttonSecondary;
  margin: 8px 16px 1px 16px;
  box-shadow: 0 1px 0 0px var(--listDivider);
}

.buttonLabelAll {
  composes: buttonSecondary;
  margin: 0 16px 16px 16px;
}

.buttonLabelDissabled {
  composes: buttonDissabled;
  margin: 8px 16px 1px 16px;
  box-shadow: 0 1px 0 0px var(--listDivider);
}

.buttonLabelAllDissabled {
  composes: buttonDissabled;
  margin: 0 16px 16px 16px;
}

.buttonNext {
  composes: buttonPrimary;
  margin: 8px 16px;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.titleBar {
  display: flex;
  align-items: center;
  margin: 16px 20px;
}

.title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--brightText);
}

.done {
  margin-left: auto;
  font-size: 14px;
  color: var(--secondaryText);
  border: 1px solid transparent;
  padding: 4px 6px;
  cursor: pointer;
}

.done:hover {
  background-color: var(--highlight);
  border-radius: 4px;
}
