.wrapper {
  width: 745px;
  margin: 80px auto 0 auto;
}

.topInfoWrapper {
  margin: 0 16px 64px 16px;
  display: flex;
}

.title {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 8px;
}

.sub {
  font-size: 14px;
  font-weight: 500;
  color: var(--detailText);
}

.button {
  background-color: var(--blue);
  /* border: 2px solid transparent; */
  height: 48px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 0 18px;
  min-width: 220px;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: var(--blue-hover);
}

.button:active {
  box-shadow: inset 0 0 0 2px #fff;
  transition: all 0.2s cubic-bezier(0.2, 0.2, 0.38, 0.9);
}

.buttonText {
  padding-right: 12px;
}

.buttonIcon {
  height: 16px;
  width: 16px;
  fill: #ffffff;
  margin-left: auto;
}

.graphPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 223.5px;
  width: 745px;
}

.tag {
  font-size: 12px;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.32px;
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  max-width: 100%;
  margin: 0 8px 0 0;
  border-radius: 15px;
  user-select: none;
}

.tagSuccess {
  composes: tag;
  background-color: #57c038;
  color: #085a0a;
}

.tagTraining {
  composes: tag;
  background-color: #e5bf3c;
  color: #7f5910;
}

.tagCanceled {
  composes: tag;
  background-color: #c0c0c0;
  color: #434343;
}

.tagError {
  composes: tag;
  background-color: #fc5b57;
  color: #97040c;
}
