.container {
  position: relative;
  user-select: none; /* stops images from turning blue */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84px;
  margin: 0 8px;
  margin-bottom: 8px;
}

.selected {
  composes: container;
}

.image {
  height: 100%;

  background-color: var(--highlight);
  vertical-align: middle;
  border: 2px solid transparent;
  /* box-shadow: 0 0px 0px rgba(0, 0, 0, 0); */
  /* transition: border box-shadow 250ms cubic-bezier(0.5, 0, 0.1, 1); */
  border-radius: 4px;
}

.container:hover .image {
  /* border: 2px solid rgba(255, 255, 255, 1); */
  border: 2px solid var(--blue);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
}

.selected .image,
.selected:hover .image {
  /* border: 1px solid #4071b0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  height: 71.4%;
  margin: 0 20.328px; /* This will only look nice with a certain image size*/
  border: 2px solid var(--blue);
}

.iconWrapper {
  content: '';
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  opacity: 0;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  /* transition: all 250ms ease; */
}

.container:hover .iconWrapper {
  opacity: 0.4;
}

.selected .iconWrapper,
.selected:hover .iconWrapper {
  opacity: 1;
  transition: none;
}

.icon {
  fill: var(--blue);
  width: 24px;
  height: 24px;
  margin: 1px;
}
