.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

.loading {
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  padding: 0 18px;
  width: 220px;
  min-width: 220px;
  display: flex;
  align-items: center;
}

.button {
  background-color: var(--blue);
  height: 48px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 0 18px;
  min-width: 220px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-right: 8px;
}

.buttonSecondary {
  composes: button;
  background-color: var(--secondaryButton);
}

.button:hover {
  background-color: var(--blue-hover);
}

.buttonSecondary:hover {
  background-color: var(--secondaryButtonHover);
}

.button:active {
  box-shadow: inset 0 0 0 2px #fff;
  transition: all 0.2s cubic-bezier(0.2, 0.2, 0.38, 0.9);
}

.titleBar {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  /* height: 64px; */
  display: flex;
  align-items: center;
  line-height: 24px;

  background-color: var(--bg);
  color: var(--brightText);
  flex-direction: column;

  height: 90px;
}

.titleBar .button {
  width: 120px;
  min-width: 120px;
  margin: 0;
  display: none;
}

.titleBar .loading {
  width: 120px;
  min-width: 120px;
  margin: 0;
  padding: 0;
}

.titlePrefix {
  font-weight: 400;
}

/* .title {
  font-size: 16px;
  font-weight: 600;
  margin-left: 32px;
  margin-right: auto;
} */

.title {
  font-size: 16px;
  font-weight: 600;
  margin-left: 32px;
  margin-right: auto;
  color: var(--brightText);
  flex-shrink: 0;

  margin-left: auto;
  height: 30px;
  display: flex;
  align-items: flex-end;

  text-decoration: none;
}

.title:hover {
  color: var(--brightText);
}

.leftWrapper {
  margin: 16px;
  max-width: 500px;
}

.bigText {
  font-size: 48px;
  font-weight: 600;
}

.subText {
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.5em;
}

.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contentWrapper {
  /* position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  overflow: scroll; */
  /* position: fixed; */
  margin-top: 142px;
  display: flex;
  flex-wrap: wrap-reverse;
  /* max-height: 100%; */
  /* overflow: scroll; */
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .contentWrapper {
    margin-top: 80px;
  }
}

/* The actual content size is 2088px x 1148px */
/* Which is about ~0.68965517 */
/* We need video to be 1440 x 791.724135*/

.videoWrapper {
  flex-shrink: 0;
  --width: 700px;
  --height: calc(var(--width) * 1448 / 2312);
  --mwidth: 100vw;
  --mheight: calc(var(--mwidth) * 1448 / 2312);
  position: relative;
  max-width: var(--mwidth);
  max-height: var(--mheight);
  width: var(--width);
  height: var(--height);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video {
  --ratio: calc(var(--width) / 2312);
  --top: calc(152 * var(--ratio));
  --left: calc(112 * var(--ratio));
  --cornerRadius: calc(10 * var(--ratio));

  position: absolute;
  top: var(--top);
  left: var(--left);
  width: calc(100% - 2 * var(--left));
  border-radius: 0 0 var(--cornerRadius) var(--cornerRadius);
}

@media (max-width: 700px) {
  .video {
    --ratio: calc(var(--mwidth) / 2312);
    --top: calc(152 * var(--ratio));
    --left: calc(112 * var(--ratio));
    --cornerRadius: calc(10 * var(--ratio));

    position: absolute;
    top: var(--top);
    left: var(--left);
    width: calc(100% - 2 * var(--left));
    border-radius: 0 0 var(--cornerRadius) var(--cornerRadius);
  }
}

.mainLinks {
  overflow: scroll;
  white-space: nowrap;
  max-width: 100%;
  height: 60px;
  line-height: 60px;
}

.link,
.link:visited {
  color: var(--brightText);
  text-decoration: none;
  margin: 0 14px;
}

.link:hover {
  box-shadow: 0 1px var(--blue);
}

.link:active {
  color: var(--brightText);
}

.link:focus {
  color: var(--brightText);
  box-shadow: 0 3px var(--brightText);
}

.outlink {
  text-decoration: none;
  margin: 0 16px 0 0;
  background-color: transparent;
  color: var(--primaryLink);
  padding: 8px 12px;
  display: flex;
  align-items: center;
  fill: var(--primaryLink);
  display: none;
  transition-property: background-color, color, opacity;
  transition: all 150ms ease-out;
}

.outlink:hover {
  color: var(--primaryLinkHover);
  background-color: var(--primaryLinkHoverBG);
  fill: var(--primaryLinkHover);
}

.outlinkIcon {
  margin-left: 8px;
}

@media (min-width: 900px) {
  .titleBar {
    display: flex;
    flex-direction: row;
    height: 64px;
  }

  .outlink {
    display: flex;
  }

  .titleBar .button {
    display: flex;
  }

  .title {
    margin-left: 32px;
    align-items: center;
  }

  .mainLinks {
    /* line-height: unset; */
    line-height: 24px;
    height: 64px;
    margin-right: auto;
    width: auto;
    display: flex;
    align-items: center;
  }
}
